body {
  background-color: #f7ede3;
}

.App {
  text-align: center;
  color: #252220;
  height: 100vh;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10vw;
  margin: auto;
  font-size: 3rem;
  font-family: 'Recoleta-Bold', serif;
}

.mainText {
  text-align: center;
  width: 100vw;
  justify-content: center;
  position: relative;
  top: 20vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  border: none !important;
  background-color: #f7ede3;
  color: #252220 !important;
}

.p-menuitem-text {
  color: #252220 !important;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
  background-color: #f7ede3;
}

.p-menubar .p-menubar-button {
  color: #252220;
}

img {
  max-width: 40vmin;
}

.aboutImg {
  max-width: 90vw !important;
}

.font {
  font-family: 'Recoleta-Bold', serif;
  color: #252220 !important;
}

@font-face {
  font-family: 'Recoleta';
  src: url("./fonts/Recoleta-Regular.ttf");
}

@font-face {
  font-family: 'Recoleta-Medium';
  src: url('./fonts/Recoleta-Medium.ttf');
}

@font-face {
  font-family: 'Recoleta-Bold';
  src: url('./fonts/RecoletaAlt-Bold.ttf');
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: 'Recoleta-Bold', serif;
  color: #252220 !important;
}

.p-menubar {
  background-color: #f7ede3;
}